<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Editar Item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="stacked">Nome</ion-label>
    <ion-input [(ngModel)]="name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Endereço</ion-label>
    <ion-input [(ngModel)]="address"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Status</ion-label>
    <ion-select [(ngModel)]="status">
      <ion-select-option value="pendente">Pendente</ion-select-option>
      <ion-select-option value="entregue">Entregue</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="full" (click)="save()">Salvar</ion-button>
</ion-content>