<ion-header>
  <ion-toolbar color="light">
    <ion-title>
      Order Delivery
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list>

    <div *ngIf="filteredItems.length === 0">
      <h3>
        Não há itens para exibir...
      </h3>
    </div>

    <ion-item *ngFor="let item of filteredItems">

      <ion-button slot="start" fill="clear" color="dark" (click)="viewDetails(item)">
        <ion-icon slot="icon-only" name="eye" color="dark"></ion-icon>
      </ion-button>

      <ion-label>
        <h2>Nome: {{ item.name }}</h2>
        <p>Endereço: {{ item.address }}</p>
        <p>Status: {{ item.status }}</p>
        <p>ID: {{ item.id }}</p>
      </ion-label>

      <div>
        <ion-button *ngIf="item.status === 'pendente'" slot="end" fill="clear" id="open-custom-dialog" color="success"
          (click)="setSelectedItem(item)">
          <ion-icon slot="icon-only" name="checkmark-outline" color="success"></ion-icon>
        </ion-button>

        <ion-button slot="end" fill="clear" *ngIf="item.status === 'pendente'" (click)="update(item)" color="dark">
          <ion-icon slot="icon-only" name="pencil-outline" color="dark"></ion-icon>
        </ion-button>

        <ion-button slot="end" fill="clear" (click)="delete(item.id)" color="danger">
          <ion-icon slot="icon-only" name="trash-outline" color="danger"></ion-icon>
        </ion-button>
      </div>

      <ion-modal id="example-modal" #modal trigger="open-custom-dialog">
        <ng-template>
          <div class="wrapper">
            <h1>Concluir Pedido</h1>

            <ion-list class="photos-list">
              <ion-item *ngFor="let file of images" color="dark">
                <ion-thumbnail slot="start">
                  <ion-img [src]="file.data"></ion-img>
                </ion-thumbnail>
                <ion-label class="ion-text-wrap">
                  {{ file.name }}
                </ion-label>
                <ion-button slot="end" fill="clear" (click)="deleteImage(file)" color="danger">
                  <ion-icon name="trash" slot="icon-only" color="danger"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>

            <ion-fab vertical="bottom" horizontal="center" slot="fixed" class="campicture">

              <ion-fab-button *ngIf="images.length === 0" (click)="takePhoto()">
                <ion-icon name="camera"></ion-icon>
              </ion-fab-button>

              <ion-fab-button *ngIf="images.length > 0" (click)="completeOrder()">
                <ion-icon name="checkmark" color="success"></ion-icon>
              </ion-fab-button>

            </ion-fab>
          </div>
        </ng-template>
      </ion-modal>

    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-item color="light">
    <ion-select label="Filtrar por Status:" [(ngModel)]="filterStatus" (ionChange)="filterItems()">
      <ion-select-option value="todos">Todos</ion-select-option>
      <ion-select-option value="pendente">Pendente</ion-select-option>
      <ion-select-option value="entregue">Entregue</ion-select-option>
    </ion-select>

    <ion-button slot="end" fill="clear" (click)="toggleHeader()" color="dark">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-button>
  </ion-item>

  <!-- Inputs que podem ser ocultados -->
  <ion-item *ngIf="showInputs">
    <ion-input label="Nome:" [(ngModel)]="name"></ion-input>
  </ion-item>

  <ion-item *ngIf="showInputs">
    <ion-input label="Endereço:" [(ngModel)]="address"></ion-input>
  </ion-item>

  <ion-item *ngIf="showInputs">
    <ion-select label="Status:" [(ngModel)]="status">
      <ion-select-option value="pendente">Pendente</ion-select-option>
      <ion-select-option value="entregue">Entregue</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class="add" *ngIf="showInputs">

    <ion-fab-button (click)="create()" slot="end">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>

  </ion-item>

  <ion-toast [isOpen]="isToastOpen" message="Pedido Removido com Sucesso!" [duration]="3000"
    (didDismiss)="handleToastDismiss('delete')"></ion-toast>

  <ion-toast [isOpen]="isToastOpenCreate" message="Pedido Criado com Sucesso!" [duration]="3000"
    (didDismiss)="handleToastDismiss('create')"></ion-toast>


</ion-footer>