.title {
  text-align: center;
}

:host {
  >ion-header {
    text-align: center;
  }

  >ion-content {
    height: 100%;
    overflow-y: scroll;

    >ion-list {
      height: 100vh;

      >div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;

        >h3 {
          text-align: center;
          margin-top: 20px;
          font-size: 1rem;
        }
      }

      >ion-item {
        margin-bottom: 1rem;

        >div {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  >ion-footer {
    >ion-item.add {
      >ion-fab-button {
        margin-bottom: 1rem;
        margin-top: 1rem;

        >ion-icon {
          width: 70%;
        }
      }
    }
  }
}

ion-modal#example-modal {
  --width: fit-content;
  --min-width: 350px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal#example-modal h1 {
  margin: 20px 20px 10px 20px;
}

ion-modal#example-modal ion-icon {
  margin-right: 6px;

  width: 48px;
  height: 48px;

  padding: 4px 0;

  color: #aaaaaa;
}

ion-modal#example-modal .wrapper {
  margin-bottom: 10px;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  >h1 {
    text-align: center;
  }

  >ion-list {
    padding-bottom: 25%;

    >ion-item {
      >ion-thumbnail {
        >ion-img {
          border-radius: 10px;
        }
      }

      >ion-button {
        >ion-icon {
          width: 32px;
        }
      }
    }
  }

  >ion-fab {
    >ion-fab-button {
      >ion-icon {
        width: 70%;
        margin-left: 6px;
      }
    }
  }
}